.header {
  background-color: #f78501;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
button.checked {
  background: #276678;
  color: #fff;
  text-decoration: line-through;
}
button {
  margin: 0;
  padding: 0;
}